<form [formGroup]="updateForm" (ngSubmit)="crear()" class="form">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control">
      <div *ngIf="updateForm.controls['nombre'].invalid && (updateForm.controls['nombre'].dirty || updateForm.controls['nombre'].touched)" class="error">
        Nombre es requerido y debe tener al menos 5 caracteres.
      </div>
    </div>
  
    <div class="form-group">
      <label>Apodo:</label>
      <input type="text" formControlName="apodo" class="form-control">
      <div *ngIf="updateForm.controls['apodo'].invalid && (updateForm.controls['apodo'].dirty || updateForm.controls['apodo'].touched)" class="error">
        Apodo es requerido y debe tener al menos 4 caracteres.
      </div>
    </div>
  
    <div class="form-group">
      <label>Fundación:</label>
      <input type="text" formControlName="fundacion" class="form-control">
      <div *ngIf="updateForm.controls['fundacion'].invalid && (updateForm.controls['fundacion'].dirty || updateForm.controls['fundacion'].touched)" class="error">
        Fundación es requerida y debe tener al menos 8 caracteres.
      </div>
    </div>
  
    <button type="submit" class="submit-button" [disabled]="updateForm.invalid">Enviar</button>
  </form>
